doctype html
html
	head
		title= Analytics
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//-link(rel='stylesheet', href='/stylesheets/store1.css')
		block head
	body
		.container
			.row
				.col-md-4
					Helloaskjdf khasfkf haskjhdfkh ad
				.col-md-4
					Testing ajksdhf asdhfjhaskjdhfkjahjsdkf
				.col-md-4
					skdjh aksjhdfk askjdhajsd
			div#type
			block content
			script(src='/javascripts/jquery-2.2.0.min.js')
			script(src='/javascripts/bootstrap.min.js')
			script(src='/javascripts/store.js')
			script
				//-$('#type').typer(["Today's Special", 'Free Frys3', 'IN<i>&</i> AS', 'Our Movie' ]);
