doctype html
html
	head
		title= Analytics
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//meta(http-equiv="refresh",content="30")
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/store.css')
		block head
	body
		.container-fluid
			div#type
			div#yVideo.container
				.row
					.col-sm-6
						.embed-responsive.embed-responsive-16by9
							video(width='320', height='240', controls='', autoplay='')
								source(src='/images/burger.mp4', type='video/mp4')

			block content
			script(src='/javascripts/jquery-2.2.0.min.js')
			script(src='/javascripts/bootstrap.min.js')
			script(src='/javascripts/store.js')
			script
				$('#type').typer(["Today's Special", 'Free Frys', 'IN<i>&</i> AS', 'Our Movie' ]);