doctype html
html
	head
		title= Analytics
		meta(name='viewport', content='width=device-width, initial-scale=1')
		//meta(http-equiv="refresh",content="30")
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/store.css')
		block head
	body
		.container-fluid.no-padding
			div#type
			div#weather.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.no-padding
				a.aw-widget-legal(href='http://www.accuweather.com/en/us/edison-nj/07871/weather-forecast/2644508')
				#awcc1459739976062.aw-widget-current(data-locationkey='2644508', data-unit='f', data-language='en-us', data-useip='false', data-uid='awcc1459739976062')
				script(type='text/javascript', src='http://oap.accuweather.com/launch.js')
			
			div#menu-scroll

			block content
			script(src='/javascripts/jquery-2.2.0.min.js')
			script(src='/javascripts/bootstrap.min.js')
			script(src='/javascripts/store.js')
			script(type='text/javascript', src='http://oap.accuweather.com/launch.js')

			script
				$('#type').typer(["Today's Special", 'Free Fries ]);