html,
body {
  background: url('/images/menu2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  overflow: hidden;
 
}
#type {
    font-size: 138px;
    color: black;
    position: absolute;
    font-weight: bold;
    margin: auto;
    width: 100%;
    bottom: 1px;
}